:root {
    --color-primary: #4F709C;
    --color-secondary: #D8C4B6;
    --color-background: #F5EFE7;
    --color-text: #213555;
    --color-btn-text: #fff;
  }

  .page-container {
    display: flex;
    justify-content: center;
    align-items: center;
   
 ;
  }
  
  .form-container {
    text-align: center;
    background-color: var(--color-text);
    padding: 10px;
    border-radius: 5px;
  
    max-width: 400px; 
    width: 50%;
  }
  
  .searchBar {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 2px;
    margin-top: 5px;
    font-size: 15px;
    color: var(--color-text);
  }
  
  .searchBar::placeholder {
    color: var(--color-text);
    opacity: 0.6;
  }